.vscode/*
.idea/*
**/*.pyc
**/__pycache__
data/*
dist/*
curifactory.egg-info/*
sphinx/build/*
**.stats
test/examples/data/*
test/examples/logs/*
**/.ipynb_checkpoints/*


# JOSS paper stuff
paper/paper.jats
paper/paper.pdf
paper/media
