# IDE stuff
.vscode/*
.idea/*

# test outputs
test/examples/data/*
test/examples/logs/*

# python stuff
**/*.pyc
**/__pycache__
curifactory.egg-info/*
**.stats
**/.ipynb_checkpoints/*

data/*
dist/*
sphinx/build/*
sphinx/diagrams/*.bkp

# JOSS paper stuff
paper/paper.jats
paper/paper.pdf
paper/media

.virtual_documents/*
