repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-ast
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/asottile/pyupgrade  # update python syntax
  rev: v3.21.0
  hooks:
  - id: pyupgrade
    args: [--py310-plus]
- repo: local
  hooks:
  - id: test
    name: test
    entry: make
    args: ["test"]
    language: system
    pass_filenames: false
  - id: clean
    name: clean
    entry: make
    args: ["clean"]
    language: system
    pass_filenames: false
