numpy
pandas
sphinx~=3.5.4
jinja2<3.1
autodocsumm
sphinx-rtd-theme
ipynb-py-convert
graphviz
matplotlib
pytest
pytest-mock
pytest-cov
psutil
twine
build
rich
pre-commit
argcomplete
pyarrow>=7
lxml
openpyxl
tables
