name: pre-commit

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  SKIP: test

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: 3.13
    - uses: pre-commit/action@v3.0.0
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install -r requirements.txt
